body {
    text-align: center;
    background-color: #79E0F8;
}

.quadrado {
    text-align: center;
    width: 70px;
    background: #eee;
    display: inline-block;
    padding: 50px;
    font-size: 60px;
    margin: 5px;
    cursor: pointer;
    color: #eee;
}

.jogador, .vencedor{
    font-size: 30px;
    margin-top: 10px;
}

button{
    margin-top: 10px;
    width: 100px;
    height: 30px;
    background: #eee;
    cursor: pointer;
    border-radius: 50px;
    border-style: none;
}